
h1 {
    text-align: center;
    border-bottom: 3px solid rgb(50, 112, 133);
    background-color: lightblue;
}

#cardFront {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: fixed;
	border: 3px solid black;
	width: 300px;
	height:40px;
	left: 50%;
	top: 15%;
	margin-right: 50%;
	transform: translate(-50%, -50%);
	padding-bottom: 5%;
	font-size: 25px;
	font-weight: 600;

}
#cardBack {
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: fixed;
    margin-left: auto;
	margin-right: auto ;
	width: 300px;
	height:40px;
	top:17%;
	left: 50%;
	margin-right: 50%;
	transform: translate(-50%, -50%);
}

.flip {
	margin:auto;
	position: absolute;
	top: 27.75%;
	left: 49%;
	right: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.vis{
	visibility: hidden;
}

.scoreboard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: fixed;
    margin-left: auto;
	margin-right: auto ;
    border: 4px solid black;
    width: 500px;
    text-align: center;
	top:25%;
	left: 50%;
	margin-right: 50%;
	transform: translate(-50%, -50%);
	margin-top: 5%;
}

#correct {
	border-left: 3px solid darkgreen;
    color: green;
	border-radius: 0px;
}

#incorrect {
	border-left: 3px solid darkgreen;
	border-radius: 0px;
}



.modalBtn {
	padding: 14px 18px;
	background-color: #677996;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
}

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;

}

#modalTxt {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 2%;
	line-height: 120%;
	font-family: Arial, Helvetica, sans-serif;
	}